body {
}

.container {
    background-color:gray;
    border:1px solid black;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;

}

.item {
    background-color: coral;
    border: 1px solid black;
    height: 100px;
    width: 200px;    
}